<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="foam.starwisp"
    android:versionCode="11"
    android:versionName="2.7">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="11" />

    <application android:label="@string/app_name"
        android:icon="@drawable/logo"
        android:theme="@style/StarwispTheme"
        >
        <activity android:name="foam.starwisp.starwisp"
            android:noHistory="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="foam.starwisp.CalcActivity"></activity>
        <activity android:name="foam.starwisp.NewFieldActivity"></activity>
        <activity android:name="foam.starwisp.FieldActivity"></activity>
        <activity android:name="foam.starwisp.FieldHistoryActivity"></activity>
        <activity android:name="foam.starwisp.FieldCalcActivity"></activity>
        <activity android:name="foam.starwisp.CameraActivity"></activity>
        <activity android:name="foam.starwisp.EventViewActivity"></activity>
        <activity android:name="foam.starwisp.AboutActivity"></activity>
        <activity android:name="foam.starwisp.MainActivity"></activity>
        <activity android:name="foam.starwisp.EmailActivity"></activity>
        <activity android:name="foam.starwisp.ManureActivity"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0e8ExTnpvi-GpIJ0Ct8mW43kzXcGgwmQ"/>


    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />

</manifest>


