<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="foam.mongoose"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name"
                 android:icon="@drawable/logo"
                 android:theme="@style/StarwispTheme"
                 android:hardwareAccelerated="true"
                 >

        <activity android:name="starwisp"
                  android:noHistory="true"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="MainActivity"></activity>
        <activity android:name="ObservationsActivity"></activity>
        <activity android:name="PackSelectActivity"></activity>
        <activity android:name="IndividualSelectActivity"></activity>
        <activity android:name="PupFocalActivity"></activity>
        <activity android:name="PupFocalEventActivity"></activity>
        <activity android:name="EventSelfActivity"></activity>
        <activity android:name="EventFedActivity"></activity>
        <activity android:name="EventAggressionActivity"></activity>
        <activity android:name="ManagePacksActivity"></activity>
        <activity android:name="NewPackActivity"></activity>
        <activity android:name="ManageIndividualActivity"></activity>
        <activity android:name="NewIndividualActivity"></activity>
        <activity android:name="UpdateIndividualActivity"></activity>
        <activity android:name="TagLocationActivity"></activity>
        <activity android:name="SyncActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="8" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

</manifest>
