<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
  
    <add name="accessConnectionString"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=~\..\..\..\..\..\..\..\..\Mongoose\NON_replicated Jan 2017.accdb;Persist Security Info=True" />
    <add name="postgresConnectionString"
         connectionString="Server=localhost;Port=5432;Database=Foam_auto;User Id=aidan; Password=Dctagl04;" />
  </connectionStrings>
</configuration>